<html>
    <head>
        <title>test</title>
        <!--引入jquery.min.js文件才能使用jquery相关的函数-->
        <script src="../static/jquery.min.js"></script>
        <!--script标签里面写的是js文件-->
        <script>
            //这里面写的是jquery的js代码
            //这里教大家Ajax的使用
            //创建一个firstGet函数，用来调用一个ajax get 请求
            function firstGet(){
                //创建一个ajax对象  
                $.ajax({
                    url: "/hello", //请求的url地址写到80000后边就可以
                    type: "GET", //请求方式
                    timeout: 5000, //超时时间
                    beforeSend: function(xhr){
                        //可选，请求发送前的回调函数
                        console.log("准备发送请求....");
                    },
                    success: function(response){
                        //请求成功的回调函数,（response 是服务器返回的数据）
                        console.log("请求成功！", response);
                        $("#firstp").html(response);
                        $("#username").val("zyx");
                    },
                        //将请求成功的数据显示在页面上
                    error: function(xhr, status, error){
                        //可选，请求失败的回调函数
                        console.log("请求失败！", status, error);
                    },
                    complete: function(xhr, status){
                        //可选，请求完成的回调函数（请求成功或失败都会执行，不论成功或失败）
                        console.log("请求完成！");
                    }
                });
            }
        </script>

    </head>

    <body>
        test
        <p id ="firstp"> </p>
        <form>
            用户名：<input type="text" id="username"/>
        </form>
        <button onclick="firstGet()">发送请求</button>

    </body>
</html>